<p>"Admin Dashboard Index Page"</p>

<p><%= link_to "Admin Merchant Index", admin_merchants_path %></p>
<p><%= link_to "Admin Invoice Index", admin_invoices_path %></p>

<div id="incomplete_invoices">
  <h2>Incomplete Invoices</h2>
</div>