<h1>Admin: Merchants</h1>
<% @merchants.each do |merchant| %>
  <div id=<%="merchant_#{merchant.id}"%>>
    <p><%= link_to merchant.name, "/admin/merchants/#{merchant.id}" %></p>
    <%= "Status: #{merchant.status}" %> <br>
  </div>
<% end %><br>

<%= link_to "New Merchant", "/admin/merchants/new" %>